@charset "utf-8";

/*
  display: flex
  flex-direction: column 중심축 바꾸기
  justify-content, align-items 중심축에 기준하여 items을 정렬한다.

  justify-content: flex-end, center, flex-start, space-between, space-around
  align-items: flex-start, flex-end, center, baseline, stretch
*/

div {
    max-width: 100%;
}

ul {
    width: 100%;
    list-style: none;
    background: blue;
    display: flex;
    flex-direction: row/*column*/
    ;
    justify-content: flex-start;
    /* 교차축 */
    align-items: stretch;
}

ul li {
    background: red;
    width: 200px;
    height: 200px;
    /* margin-left:20px;*/
}
